.body{
  background-color: black;
}

.backco{
  background-color: black;
  color: black;
}
body{
  background-color: black;
  width: 100;
 
  
.desc{
  color: white;
}

.btns {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
}

@media (min-width: 32rem) {
  .btns {
    flex-direction: row;
  }
}

