

.body{
  background-color: white;
}

a{
  text-transform: uppercase;
}

.backco{
  background-color: white;
  color: white;
}
body{
  background-color: white;
  width: 100%;
 
  
.desc{
  color: white;
  background-color: #0073CF;
  height: 100px;
  margin-bottom: 1px;
  border-radius: 15px;
  margin-block: 0px;
  margin-inline-end: 1px;
  width: 100%;
  
  border-width: 100%;
}

.btns {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
}
@media only screen and (max-width: 500px) {
  .responsive {
    cursor: none;
  }
}
@media only screen and (max-width: 500px) {
  .btns {
    cursor: none;
  }
}

@media (min-width: 32rem) {
  .btns {
    flex-direction: row;
  }
}

.welvid{
  padding-top: 10px;
  margin: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-right: 10px;
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

* {
   font-family: myFirstFont;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media (min-width: 32rem) {
  .btns {
    flex-direction: row;
  }
}

@media (min-width="1000px") {
  .btns {
    flex-direction: row;
  }
}
@media (min-width: 40rem) {
  .welvid {
    flex-direction: row;
    display: none;
  }
}

/* demo stuff */

.btn {
  position: relative;
  padding: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375em;
  font-size: 1em;
  text-decoration: none;
  line-height: 1.2;
  cursor: pointer;
  transition: 0.2s;
  will-change: transform;
}

.btn:focus-visible {
  outline: none;
}

.btn:active {
  transform: translateY(2px);
}

.btn--primary {
  background: black;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
              0 1px 3px hsla(250, 84%, 38%, 0.25), 
              0 2px 6px hsla(250, 84%, 38%, 0.1), 
              0 6px 10px -2px hsla(250, 84%, 38%, 0.25);
  color: hsl(0, 0%, 100%);
}

.btn--primary:hover {
  background: #0073CF;
  box-shadow: white;
}

.btn--primary:focus-visible {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 
              0 1px 2px hsla(250, 84%, 38%, 0.25), 
              0 1px 4px hsla(250, 84%, 38%, 0.1), 
              0 3px 6px -2px hsla(250, 84%, 38%, 0.25), 
              0 0 0 2px hsl(0, 0%, 100%), 
              0 0 0 4px hsl(250, 84%, 54%);
}

.btn--subtle {
  background: hsl(0, 0%, 100%);
  color: hsl(230, 13%, 9%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 
              0 0 0 1px hsla(230, 13%, 9%, 0.02), 
              0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
              0 1px 3px -1px hsla(230, 13%, 9%, 0.2), 
              0 3.5px 6px hsla(230, 13%, 9%, 0.12);
}

.btn--subtle:hover {
  background: hsl(0, 0%, 100%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 
              0 0 0 1px hsla(230, 13%, 9%, 0.02), 
              0 0.1px 0.3px hsla(230, 13%, 9%, 0.06),
              0 1px 2px hsla(230, 13%, 9%, 0.12),
              0 1px 3px -1px hsla(230, 13%, 9%, 0.2);
}

.btn--subtle:focus-visible {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 
              0 0 0 1px hsla(230, 13%, 9%, 0.02), 
              0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
              0 1px 3px -1px hsla(230, 13%, 9%, 0.2), 
              0 3.5px 6px hsla(230, 13%, 9%, 0.12), 
              0 0 0 2px hsl(0, 0%, 100%), 
              0 0 0 4px hsl(230, 7%, 23%);
}
div.gallery {
  border: 1px solid #0073CF;
  box-shadow: 20px;
}

div.gallery:hover {
  border: 1px solid ##0073CF;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  font-size: 22px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  padding: 0.4em;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 800px) {
  .responsive {
    width: 19.99999%;
    margin: 1px 0;
    padding: 0.4em;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    padding: 2em;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h4{ 
  color: white;
  text-align: left;
  padding-left: 5px;
  margin-block: 10px;
  width: 100%;
  font-family: Comic Sans MS;
  background-repeat: no-repeat;
  background: #0073CF;
  background-origin: normal;
  display: device-width;
  height: 22px;
}
h1{ 
  color: #0073CF;
  font-family: Sans-Serif;
  text-align: center;
  padding-bottom: 40px;
}
h2{
  color: white;
}

body{
 background-color: black;
 margin: 0;
 margin-block: 0;
 padding: 0;
 
}

.maintexts{
  font-family: Comic Sans MS;
  margin: 2px;
  font-size: 20px;
  padding-bottum: 20px ;
  padding: 0.4em;
}

div.maintexts{
  font-size: 20px;
  font-family: Comic Sans MS;
}
.contactimg{
  margin-block: 20px;
  margin:20px;
  background-position: center;
}

.contactimg a{
  margin-block: 20px;
  margin:20px;
  cursor: pointer;
}
.card{
  padding: 1em;
}

@media only screen and (min-width: 900px) {
  .contactimg {
    width: 100%;
    
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  header {
    width: 100%;
    display: none;
  }
}

