body{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 10%;
}

img{
    position: fixed;
    max-height: auto;
    width: auto;
}